/* Navbar base */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 1rem;
  font-size: 18px;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  transition: background 0.3s;
}

.navbar.navbar-dark {
  color: #fff;
}

.navbar.navbar-light {
  background-color: #000000b0;
  color: #fff;
}

/* Container */
.navbar .container {
  display: flex;
  align-items: center;
  justify-content: center; /* desktop centrado */
  width: 100%;
  max-width: 1200px;
  gap: 2rem;
}

/* Barra superior (hamburguesa + iconos) */
.navbar-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Iconos derecha */
.navbar-icons {
  display: none;
  gap: 1rem;
}

.navbar-icons button {
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 1.4rem;
}

/* Botones dentro del menú */
.buttons-icons {
  display: flex;
  gap: 1.5rem;
  transform: translateX(100px);
}

/* Links */
.nav-links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.navbar .nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
  margin-left: 2rem;
}

.navbar .nav-link:hover {
  color: #b09e84;
}


button {
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 1.2rem;

 &:hover {
  color: #b09e84;
}
}

/* Hamburger */
.hamburger {
  display: none;
  font-size: 1.5rem;
  color: white;
  z-index: 1110;
}

/* Botón cerrar */
.close-menu {
  display: block;
  position: fixed;
  left: 180px;
  font-size: 2rem;
  color: white;
  z-index: 1110;
}



@media (max-width: 900px) {
  .navbar {
    height: 60px;
  }

  .navbar .container {
    justify-content: space-between;
  }

  /* Mostrar hamburguesa */
  .hamburger {
    display: flex;
  }

  /* Mostrar iconos derecha */
  .navbar-icons {
    display: flex;
  }

  /* Menú lateral */
  .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 60%;
    background-color: #111;
    flex-direction: column;
    padding-top: 5rem;
    gap: 1.5rem;
    align-items: flex-end;
    z-index: 1100;
  }

  .nav-links.active {
    left: 0;
  }

  .nav-links .nav-link {
    font-size: 1.2rem;
    color: #fff;
    width: 100%;
    padding-left: 1.5rem;
  }

  /* Ocultar iconos duplicados dentro del menú */
  .buttons-icons {
    display: none;
  }

  .close-menu {
    font-size: 1.5rem;
  }
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1050;
}
