
.footer {
  background-color: #000000b0;
  color: #fff;
}

.text-footer p {
  max-width: 500px;
  
}

.icons svg {
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.icons svg:hover {
  transform: scale(1.2);
  color: #0d6efd;
}

.copy p {
  font-size: 0.7rem;
  margin-top: 10px;
}

@media (max-width: 576px) {
  .text-footer p {
    font-size: 0.95rem;
  }

  .icons h5 {
    font-size: 1.1rem;
  }
}
