.section-skills {

.linea-lateral-rosa{
    width: min(1110px, 100%);
    height: 10px;
    border-bottom-right-radius: 20px;
    background-color: #D61355;
    margin-top: 10px;

  }
}


.skill-item {
  opacity: 0;
  transform: translateY(20px);
}

.skill-item.in-view {
  animation: fadeInUp 0.6s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
