.section-sobreMi {
  .buttonColor {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #f94a29;
    border-radius: 16px;
    border: none;
  }

  @keyframes circle-in-bottom-left {
    from {
      clip-path: circle(0%);
    }
    to {
      clip-path: circle(150% at bottom left);
    }
  }
  .linea-lateral-naranja {
    width: min(1150px, 100%);
    height: 10px;
    border-bottom-right-radius: 20px;
    background-color: #ff5733;
  }

  .changeColor {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #000000b0;
    border-radius: 16px;
    border: none;
  }

  @media (max-width: 768px) {
    .linea-lateral-naranja {
      border-bottom-right-radius: 0;
    }
  }
}
